*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
  }
  body{
      background-color:white;
  }
  a{
      color: rgb(250, 251, 252);
      text-decoration: none;
  }
  .navbar{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      padding: 25px 9%;
      background: rgb(36, 254, 36);
  }
  .navbar .logo{
      font-size: 30px;
      font-weight: 700;
      justify-content: space-between;
      margin-right: 32%;
  }
  @media only screen and(max-widh:900px){
     ul .logo{
      font-size: 5px;
      margin: 1px;
    }
  }
  .navbar ul{
      display: flex;
  }
  .navbar ul li{
      list-style: none;
      margin-left: 10px;
  }
  .navbar ul li a{
      font-size: 25px;
      font-weight: 500;
      transition: .5s;
  }
  .navbar {
    background-color: rgb(9, 248, 17);
    font-size: 30px; /* Default font size */
    color: white;
}

@media only screen and (max-width: 600px) {
    .navbar {
        background-color: lightblue;
        font-size: 60%; /* This should work */
    }
}
  .navbar ul li:hover a,
  .navbar ul li.active-section a{
      color: rgb(47, 48, 46);
  }

  ul li ul.dropdown li{
    display: block;

  }
  ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
  }
  ul li:hover ul.dropdown{
    display: block;
  }
  @media only screen and (max-width: 900px) {
    .class navbar {
    font-size: 12px;
    margin: auto;
  
    }
  }
  .home{
      display: flex;
      align-items: center;
      height: 80vh;
      padding: 30px;
      color: white;
  }
  @media only screen and (max-width: 900px) {
    .home {
    font-size: 12px;
    margin: auto;
    padding: auto;
    align-items: center;
  text-align: center;
    }
  }
  .home-info h1{
      padding: 10px;
  }
  h2{
      font-size: 20px;
  }
  .home-info.btc-sci{
      display: flex;
      align-items: center;
  }
  .home__description{
      padding:5px 5px 5px 5px;
      color:black;
      font-size: 18px;
      font-family: Arial;
  }
  .btn{
      display: inline-block;
      padding: 10px 30px;
      background: rgb(7, 165, 15);
      border: 2px solid  rgb(34, 199, 19);
      border-radius:40px;
      box-shadow:0 0 10px;
      font-size: 16px;
      color: black;
      font-weight: 600;
      transition: .5s;
      margin-top: 50px;
  }
  .btn:hover{
      background:transparent;
      color:aqua;
      box-shadow: none;
  }
  .home-img .img-box{
      width: 20vw;
      height: 20vw;
      background: rgb(212, 182, 12);
      border-radius: 50%;
      padding:2px;
      float: right;
      margin-left: 500px;
      margin-top: 10px;
  }
  @media only screen and (max-width: 900px) {
    .home-img .img-box{
    font-size: 12px;
    margin-left: auto;
  
    }
  }
  .menu-option{
    background-color:  rgb(111, 209, 13);
    color: rgb(250, 251, 252);
  }
/*
  .main-img img{
    height: 500px;
    width: 1000px;
    margin-top: 10px;
    margin-left: -45px;
    float: right;
    margin-right: 2px;
  }
  .main-img img:hover{
    height:520px;
    width: 1130px;
  }
    */
  .home-info h1{
    color:#0daccc;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
    margin-left: 17px;
    margin-bottom: 30px;
  }
  .home-info p{
    color: #000000;
    font-size: 30px;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
  }
  @media only screen and (max-width: 900px) {
    .home-info h1{
    font-size: 25px;
    width: 300px;
    margin-top: 2px;
  
    }
    .logo{
      font-size: 10px;
      font-weight: 150;
      margin-right: 8%;
      display: flex;
    }
  }
  @media only screen and (max-width: 900px) {
    .home-info p{
    font-size: 15px;
   width: 300px;
  
    }
  }


/*  -------------------------footer---------------------------  */



  .footer__bg{
padding-bottom: 50px;
margin-top: 90px;
  }

.footer__bg{
  background-color: rgb(15, 219, 117);
}
.footer__copy{
  text-align: center;
}
.footer__links{
  margin: 15px;
  justify-content: space-around;
  display: flex;
 list-style: none;
}
.footer__title{
    text-align: center;
}
.footer__subtitle span{
    float: right;
    text-align: center;
}