*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: aquamarine;
}
a{
    color: rgb(250, 251, 252);
    text-decoration: none;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: rgb(111, 209, 13);
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
    justify-content: space-between;
    margin-right: 53%;
}
@media only screen and (max-width: 700px) {
  .navbar .logo {
   margin-right: auto;
  }
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 25px;
}
.navbar ul li a{
    font-size: 15px;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li:hover a,
.navbar ul li.active-section a{
    color: blue;
}
@media only screen and (max-width: 700px) {
  .class navbar {
  font-size: 12px;

  }
}
.home{
    display: flex;
    align-items: center;
    height: 65vh;
    padding: 30px;
    color: white;
}
@media only screen and (max-width: 700px) {
  .home {
  font-size: 12px;
  margin: auto;
  padding: auto;
  align-items: center;
text-align: center;
  }
}
.home-info h1{
    padding: 10px;
}
h2{
    font-size: 20px;
}
.home-info.btc-sci{
    display: flex;
    align-items: center;
}
.home__description{
    padding:5px 5px 5px 5px;
    color:black;
    font-size: 18px;
    font-family: Arial;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: rgb(7, 165, 15);
    border: 2px solid  rgb(34, 199, 19);
    border-radius:40px;
    box-shadow:0 0 10px;
    font-size: 16px;
    color: black;
    font-weight: 600;
    transition: .5s;
    margin-top: 50px;
}
.btn:hover{
    background:transparent;
    color:aqua;
    box-shadow: none;
}
.home-img .img-box{
    width: 20vw;
    height: 20vw;
    background: rgb(212, 182, 12);
    border-radius: 50%;
    padding:2px;
    float: right;
    margin-left: 500px;
    margin-top: 10px;
}
@media only screen and (max-width: 700px) {
  .home-img .img-box{
  font-size: 12px;
  margin-left: auto;

  }
}
.home-img .img-box .img-item{
position: relative;
width: 100%;
height: 100%;
background: 50%;
display: flex;
justify-content: center;
overflow: hidden;
}
.home-img .img-box .img-item img{
  position: absolute;
  top: 30px;
  display: block;
  width: 85%;
  object-fit: cover;
}
/*--===============about=============--*/
img{
    border-radius: 50%;
}
.about__img {
    width: 170px;
    border-radius: 500%;
    justify-self: center;
    align-self: center;
    border: 1px solid #fff;
    margin-left: 60px;
  }
  .about__infor{
    display: flex;
    justify-content: space-around;
     float: right;
     margin-right: 400px;
     font-size: 20px;
     margin: 10px 30px 0px 10px;
  }
  .scgp{
    justify-content: space-between;
    margin-right: 40px;
  }
  .about__info-title{
      color: black;
      font-size: 50px;
  }
  .project{
    margin-right: 40px;
  }
  .Months{
    margin-right: 20px;
  }
  .about__buttons {
    display: flex;
    justify-content: center;
    background-color: rgb(22, 184, 7) ;
    height:25px;
    width: 200px;
    border-radius: 75px;
  }
  .section__title{
    text-align:center;
  }
  .asf{
 margin-left: 46%;
/*-=========================skills=========--*/
  }
  .skills{
    text-align: center;
    font-size: 25px;
    background-color: green;
    border-radius: 200px;
    width: 400px;
  }
  .skills__container{
 text-align: left;
 margin-bottom: 130px;
  }
  .skills__name{
    font-size: 25px;
    text-align: left;
    margin: 10px;
  }
  .others__skills{
    text-align: center;
    font-size: 25px;
    background-color: green;
    border-radius: 200px;
    width: 500px;
    float: right;
    height: 25px;
    padding-left: 40px;
  }
  .others__skills__container{
    margin: 20px;
  }
  @media only screen and (max-width: 700px) {
    .skills-section{
    font-size:12px;
    margin-left: auto;
  
    }
  }
  ---------------contect-me------------
  .getin__touch{
    text-align: center;
  }
.contact__title{
    margin: 10px;
}
.contact__content{
    margin: 10px;
}
.contact__input{
 background-color:rgb(206, 201, 195);
 width: 500px;
 border-radius: 20px;
}
.massage__button{
    display: inline-block;
    padding: 10px 30px;
    background: rgb(7, 165, 15);
    border: 2px solid  rgb(34, 199, 19);
    border-radius:40px;
    box-shadow:0 0 10px;
    font-size: 16px;
    color: black;
    font-weight: 600;
    transition: .5s;
    margin-top: 20px;
    margin-bottom: 100px;

/*-============footer============--*/
}
.footer__bg{
  background-color: rgb(15, 219, 117);
}
.footer__copy{
  text-align: center;
}
.footer__links{
  margin: 15px;
  justify-content: space-around;
  display: flex;
 list-style: none;
}